{
  "getAllUsersFunction": {
    "AWS_REGION": "<AWS_REGION>",
    "DB_ENDPOINT": "<DB_ENDPOINT>",
    "USER_TABLE": "<USER_TABLE>"
  },
  "getUserFunction": {
    "AWS_REGION": "<AWS_REGION>",
    "DB_ENDPOINT": "<DB_ENDPOINT>",
    "USER_TABLE": "<USER_TABLE>"
  },
  "createUserFunction": {
    "AWS_REGION": "<AWS_REGION>",
    "DB_ENDPOINT": "<DB_ENDPOINT>",
    "USER_TABLE": "<USER_TABLE>"
  },
  "updateUserFunction": {
    "AWS_REGION": "<AWS_REGION>",
    "DB_ENDPOINT": "<DB_ENDPOINT>",
    "USER_TABLE": "<USER_TABLE>"
  },
  "deleteUserFunction": {
    "AWS_REGION": "<AWS_REGION>",
    "DB_ENDPOINT": "<DB_ENDPOINT>",
    "USER_TABLE": "<USER_TABLE>"
  }
}
